*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:#dce8d8;

font-family:'Cormorant Garamond',serif;

overflow:hidden;

}

.background{

position:absolute;

width:100%;
height:100%;

background:
radial-gradient(circle at top,#edf7ed,#dbe7d7,#cfdcca);

animation:fade 12s infinite alternate;

}

@keyframes fade{

from{
filter:brightness(1);
}

to{
filter:brightness(.92);
}

}

.container{

position:relative;

z-index:2;

text-align:center;

width:90%;
max-width:700px;

}

h1{

font-size:55px;

color:#52644d;

font-family:'Dancing Script',cursive;

}

.subtitle{

margin-top:8px;

font-size:22px;

color:#6f7d68;

}

.bouquet{

margin:70px auto;

position:relative;

width:250px;
height:280px;

}

.stem{

position:absolute;

bottom:20px;
left:50%;

transform:translateX(-50%);

width:10px;
height:170px;

background:#4f8b58;

}

.flower{

position:absolute;

animation:sway 4s ease-in-out infinite;

}

.one{

left:20px;
top:70px;

}

.two{

left:90px;
top:20px;

animation-delay:.5s;

}

.three{

left:160px;
top:70px;

animation-delay:1s;

}

.petal{

position:absolute;

width:45px;
height:70px;

background:#ff7da8;

border-radius:40px 40px 10px 10px;

}

.p1{

transform:rotate(-20deg);

}

.p2{

left:18px;

transform:rotate(20deg);

}

.p3{

left:9px;
top:-18px;

background:#ff91b7;

}

@keyframes sway{

0%{
transform:rotate(-3deg);
}

50%{
transform:rotate(3deg);
}

100%{
transform:rotate(-3deg);
}

}

.letter{

margin-top:40px;

padding:30px;

background:white;

border-radius:20px;

box-shadow:0 20px 50px rgba(0,0,0,.08);

}

.letter h2{

font-family:'Dancing Script';

font-size:40px;

color:#5e7057;

margin-bottom:20px;

}

.letter p{

min-height:180px;

outline:none;

font-size:22px;

line-height:1.8;

color:#444;

font-family:'Dancing Script';

}

.music{

display:inline-block;

margin-top:35px;

padding:15px 28px;

background:#7f9b7a;

color:white;

text-decoration:none;

border-radius:50px;

transition:.3s;

}

.music:hover{

transform:translateY(-5px);

background:#678062;

}
